html {
  margin: 0;
  padding: 0;
  color: #FFFFFF	;
  font-family: "JetBrains Mono", monospace;
}

.page {
  padding-bottom: 0;
  background: #000000	;
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #808080 0.6px, transparent 1px),
    linear-gradient(to bottom, #808080 0.6px, transparent 1px);
}

h1 {
  padding-top: 43px;
  text-align: center;
  font-size: 240%;
}

.title {
  text-align: center;
  padding-top: 80px;
  font-size: 200%;
}

.fadein {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

.basket {
  display: block;
  position: relative;
  width: 950px;
  height: auto;
  margin: auto;
}

#meds {
  display: block;
  display: flex;
  position: relative;
  width: 790px;
  margin: auto;
  padding-top: 30px;
}

.addepi {
  position: relative;
  display: none;
  text-align: center;
  margin-top: -160px;
  font-size: 120%;
}
.adddar {
  position: relative;
  display: none;
  text-align: center;
  margin-top: -140px;
  font-size: 120%;
}
.addins {
  position: relative;
  display: none;
  text-align: center;
  margin-top: -120px;
  font-size: 120%;
}

.med:hover .name {
  opacity: 0.7;
}

#add {
  color: #FFFFFF	;
  height: 120px;
}

#add:hover {
  color: #9200bf;
}

.med:hover #add {
  display: block;
}

.epi {
  height: 210px;
  width: auto;
  margin: 20px;
  margin-bottom: 0;
}

.med:hover .epi {
  opacity: 0.7;
}

.dara {
  height: 180px;
  width: auto;
  margin: 20px;
  margin-top: 120px;
  margin-bottom: 0;
}

.med:hover .dara {
  opacity: 0.7;
}

.ins {
  width: 240px;
  height: auto;
  margin: 20px;
  margin-bottom: 0;
}
.med:hover .ins {
  opacity: 0.7;
}

#buy:hover {
  opacity: 0.5;
}

.epi2 {
  width: 240px;
  height: auto;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  animation: fadeIn 4s;
}

.dara2 {
  height: 230px;
  width: auto;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  animation: fadeIn 4s;
}

.ins2 {
  height: 210px;
  width: auto;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  animation: fadeIn 4s;
}

canvas {
  display: block;
}

.link {
  font-size: 140%;
  color: #FFFFFF	;
}

a {
  text-decoration: none;
  color: #FFFFFF	;
}

a:hover {
  color: #9200bf;
}

a:hover .link {
  color: #9200bf;
  text-decoration:underline;
}

a:-webkit-any-link {
  cursor: pointer;
}

.black {
  background: #000000	;
}

.description {
  color: #FFFFFF	;
  width: 700px;
  margin: auto;
  font-size: 120%;
  padding-bottom: 50px;
  filter: blur(4px);
}

.description:hover {
  filter: blur(0px);
}

.underline {
  text-decoration: underline;
}



#solution h2 {
  overflow: hidden;
  margin: 0 auto;
  margin: 15px;
  animation: typing 1s steps(30, end), blink-caret 0.5s step-end infinite;
}

#solution {
  width: 540px;
  margin: auto;
  padding-bottom: 30px;
  padding-left:20px;
  padding-right:20px;
  padding-top: 20px;
  background:black;
}

.solution {
  font-size: 160%;
}

.solution:hover {
  text-decoration: underline;
}

.top {
  font-size: 160%;
  text-decoration: underline;
  text-align: center;
}

#about {
  width: 660px;
  margin: auto;
  padding-bottom: 50px;
  font-size: 90%;
}

#about h2 {
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 1.2s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.par {
  padding-top: 35px;
}

#footer {
  padding-bottom: 20px;
}

