html {
  
}

h1 {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

p {
    color: white;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

.pic {
    width: 200px;
    height: auto;
}

.pic:hover {
  opacity: 0.5;
}
